?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="us.pollapp.inturik"
    versionCode="100"
    version="0.0.0.1">
   
    <name>PollApp Push</name>

    <description>
        PollApp es una aplicación móvil gratuita con la que podrás predecir con tus amigos los resultados de tus deportes favoritos.
     </description>

    <author href="http://pollapp.us/">
        Inturik SAS
    </author>

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>

    <!-- Se adiciona para la gestión de Notificaciones Push (260614)-->
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />

    <!-- Android icons -->
    <icon src="Resources/icons/android/36x36.png"  gap:platform="android" gap:density="ldpi" />
    <icon src="Resources/icons/android/48x48.png"  gap:platform="android" gap:density="mdpi" />
    <icon src="Resources/icons/android/72x72.png"  gap:platform="android" gap:density="hdpi" />
    <icon src="Resources/icons/android/96x96.png"  gap:platform="android" gap:density="xhdpi" />




</widget>